@model JustBuy.Models.UpdateProfileViewModel

@{
    ViewBag.Title = "UpdateProfile";
}

<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">My Account</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>My Account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- Start page content -->
<div id="page-content" class="page-wrapper">

    <!-- LOGIN SECTION START -->
    <div class="login-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="my-account-content" id="accordion2">
                        <!-- My Personal Information -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#personal_info">My Personal Information</a>
                                </h4>
                            </div>
                            <div id="personal_info" class="panel-collapse collapse " role="tabpanel">
                                <div class="panel-body">
                                    @using (Html.BeginForm("UpdateProfile", "Account", "POST"))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="col-sm-3"></div>
                                        <div class="form-horizontal col-sm-6">
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-5 col-md-8 pb-50">
                                                    <input type="submit" value="Save" class="submit-btn-1 btn-hover-1" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3"></div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#My_order_info">My Order info</a>
                                </h4>
                            </div>
                            <div id="My_order_info" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">

                                    <!-- our order -->
                                    <div class="payment-details p-30">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Order No</th>
                                                    <th>Items</th>
                                                    <th>Total Price</th>
                                                    <th>Order Date</th>
                                                    <th>Delivery Date</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.Orders)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>
                                                        @foreach (var orderDetail in item.OrderDetails)
                                                        {
                                                            <span>@orderDetail.Product.Name </span> <span>x</span> <span>@orderDetail.Quantity</span><br />
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.TotalPrice.ToString("C2")
                                                    </td>
                                                    <td>
                                                        @item.CreatedAt.ToString("MM, dd, yyyy")
                                                    </td>
                                                    <td>
                                                        @item.DeliveryDate.ToString("MM, dd, yyyy")
                                                    </td>
                                                    <td>
                                                        @item.Status
                                                    </td>
                                                    <td>
                                                        @if (item.Status == JustBuy.Models.Order.OrderStatus.Processing)
                                                        {
                                                        <form action="@Url.Action("CancelOrder", "Order", new { id = item.Id})" method="post">
                                                            
                                                            <button type="submit" class="btn btn-danger">Cancel</button>
                                                        </form>
                                                            

                                                        }
                                                    </td>
                                                </tr>
                                            }


                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Payment Method -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGIN SECTION END -->
</div>


