@model IEnumerable<JustBuy.Models.OrderDetail>
@{ 
    JustBuy.Models.Order order = (JustBuy.Models.Order)ViewBag.Order;
}
<div class="table-content table-responsive mb-50">
    <table class="text-center">
        <thead>
            <tr>
                <th class="product-thumbnail">product</th>
                <th class="product-price">price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-subtotal">total</th>
                <th class="product-remove">remove</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <!-- tr -->
            <tr>
                <td class="product-thumbnail">
                    <div class="pro-thumbnail-img">
                        <img src="@item.Product.GetSmallImage()" alt="">
                    </div>
                    <div class="pro-thumbnail-info text-left">
                        <h6 class="product-title-2">
                            <a href="#">@item.Product.Name</a>
                        </h6>
                        <p>Category: @item.Product.Category.Name</p>
                        <p>Model: Grand s2</p>
                        <p> Color: Black, White</p>
                    </div>
                </td>
                <td class="product-price">@item.Product.Price.ToString("C2")</td>
                <td class="product-quantity">
                    <input type="number" value="@item.Quantity" name="qtybutton" min="1" style="width: 65px; padding-left: 15px;">
                    <input type="hidden" name="orderDetailId" value="@item.Id" />
                </td>
                <td class="product-subtotal">@item.CalculateTotalPrice().ToString("C2")</td>
                <td class="product-remove">
                    <button class="delete-button" data-itemid="@item.Id"><i class="zmdi zmdi-close"></i></button>

                </td>
            </tr>
            }

            <tr>
                <td colspan="5">
                    <a href="@Url.Action("Index", "Product")">
                        <button class="submit-btn-1 btn-hover-1 col-md-3 col-md-offset-9">Add More Product</button>
                    </a>

                </td>
            </tr>

        </tbody>
    </table>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="payment-details box-shadow p-30 mb-50">
            <h6 class="widget-title border-left mb-20">payment details</h6>
            <table>
                <tr>
                    <td class="td-title-1">Cart Subtotal</td>
                    <td class="td-title-2">@order.GetTotalCartPrice().ToString("C2")</td>
                </tr>
                <tr>
                    <td class="td-title-1">Shipping and Handing</td>
                    <td class="td-title-2">@order.ShippingFee.ToString("C2")</td>
                </tr>
                <tr>
                    <td class="td-title-1">Vat</td>
                    <td class="td-title-2">$00.00</td>
                </tr>
                <tr>
                    <td class="order-total">Order Total</td>
                    <td class="order-total-price">@order.TotalPrice.ToString("C2")</td>
                </tr>
            </table>
        </div>
    </div>
</div>
